.anchorPane {


}

.box {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0);
}

.button {
    -fx-background-color:  #2CD5A5;
    -fx-text-fill: #ffffff;
}

.button:hover {
    -fx-background-color: FDBB2D;
}

.textField {
    -jfx-focus-color: #1eab8c;
}

.title{
    -fx-font-size: 24;
    -fx-text-fill: #1fbed5;
}

.subtitle {
    -fx-text-fill: #177e8f;
}

.bottomText {
    -fx-font-size: 13;
    -fx-text-fill: #969696;
}
